.contact-form-area {
    background-size: cover !important;
    padding: 85px 0 64px;
    position: relative
}

.contact-form-area:before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
   
    width: 215px;
    height: 100%;
    background-size: contain;
    opacity: 1
}

.contact-form-area:after {
    content: "";
    position: absolute;
    top: -40px;
    right: 0;
    background: url("../assets/contact-bg.webp") no-repeat top;
    width: 168px;
    height: 100%;
    background-size: contain;
    opacity: 1
}

.contact-form-area .row-fluid {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: start;
    align-items: start
}

.form-left-text {
    width: 100%;
    max-width: 280px;
    font-size: 20px;
    line-height: 44px;
    color: #000;
    position: relative;
    z-index: 999
}

.form-left-text h2 {
    font-size: 36px;
    color: #f0b95e;
    font-weight: 700;
    text-transform: uppercase;
    position: relative
}

.form-left-text h2:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top: 47px;
    max-width: 219px;
    width: 100%;
    height: 2px;
    background: #f0b95e
}

.form-left-text a {
    color: #f0b95e;
    font-size: 20px;
    line-height: 44px;
    text-decoration: none
}

.contact-form-area .span8 {
    margin-left: 0 !important;
    border-left: 1px solid #eaeaea
}



.hs-form-booleancheckbox .hs-input {
    width: auto !important
}

.form-left-text i.fa {
    background: #000;
    width: 26px;
    height: 25px;
    border-radius: 4px;
    line-height: 26px;
    text-align: center;
    color: #fff;
    font-size: 16px
}

.form-left-text i.fa:focus,
.form-left-text i.fa:hover {
    background: #f0b95e
}

.form-left-text ul li {
    float: left;
    margin-right: 15px
}


@media(max-width:480px) {
    .form-left-text h2 {
        font-size: 36px !important
    }

}

@media(max-width:767px) {
    .form-left-text {
        margin-bottom: 75px !important
    }

    .contact-form-area .row-fluid {
        display: -ms-flexbox;
        display: block;
        -ms-flex-align: start;
        align-items: start
    }

    .contact-form-area .span8 {
        margin-left: 0 !important;
        border-left: none
    }

}

@media(max-width:992px) {

    .ContactPage {
        overflow-x: hidden;
        width: 100vw;
    }
}

