#contact {
    width: 50vw;
}

#contact label {
margin-top: 20px;
font-weight: 700;
}

button{
    border-radius: 5px;
    border-style: none;
}


input, textarea {
    
    border-bottom: thin solid; 
    font-size: 18px;
    line-height: 20px;
    padding: 10px;
    font-family:'Times New Roman', Times, serif;
}

input:placeholder-shown, textarea:placeholder-shown{
    font-style: italic;
    font-size: 18px;
    font-weight: 150;
}

#name {
    display: flex;
    
}

#firstname{
    width: 29vw;
}

#lastname{
    width: 29vw;
}

.form-group{
    margin-bottom: 18px;    
}

#message {
    width: 58.5vw 
}

.form-control{
    margin-right: 2vw;
    width: 60vw;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    
}

.form-control:focus{
    background-color: rgb(126, 126, 126,0.1);
    box-shadow: none;
    
}

@media only screen and (max-width: 576px) {
    #message {
            width: 54.5vw
        }
        #contact {
            margin-top: 22vh;
        }
}

/* MOBILE VIEW */

@media only screen and (max-width: 576px) {
    
    #contact {
            margin-top: 22vh;
        }
    
        #firstname {
            width: 44vw;
        }
    
        #lastname {
            width: 44vw;
        }
    
        .form-control {
    
            width: 90vw;
    
    
        }
    
        #message {
            width: 83.5vw
        }
    
}

/* TAB VIEW */

@media only screen and (min-width: 577px) and (max-width: 1024px) {

    
    #contact {
            margin-top: 22vh;
        }
        #firstname {
            width: 44vw;
        }
    
        #lastname {
            width: 44vw;
        }
                .form-control {
               
                    width: 90vw;
        
        
                }
        #message {
        width: 86.5vw
    }



    
}





