.contact-form-area {
    background-size: cover !important;
    padding: 85px 0 64px;
    position: relative
}

.contact-form-area:before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    background: url(https://cdn2.hubspot.net/hubfs/482618/Computan%202020/Left%20bg%20element.png) no-repeat top;
    width: 215px;
    height: 100%;
    background-size: contain;
    opacity: 1
}

.contact-form-area:after {
    content: "";
    position: absolute;
    top: -40px;
    right: 0;
    background: url(https://cdn2.hubspot.net/hubfs/482618/Computan%202020/Right%20bg%20element.png) no-repeat top;
    width: 168px;
    height: 100%;
    background-size: contain;
    opacity: 1
}

.contact-form-area .row-fluid {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: start;
    align-items: start
}

.form-left-text {
    width: 100%;
    max-width: 280px;
    font-size: 20px;
    line-height: 44px;
    color: #000;
    position: relative;
    z-index: 999
}

.form-left-text h2 {
    font-size: 36px;
    color: #f0b95e;
    font-weight: 700;
    text-transform: uppercase;
    position: relative
}

.form-left-text h2:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top: 47px;
    max-width: 219px;
    width: 100%;
    height: 2px;
    background: #f0b95e
}

.form-left-text a {
    color: #f0b95e;
    font-size: 20px;
    line-height: 44px;
    text-decoration: none
}

.contact-form-area .span8 {
    margin-left: 0 !important;
    border-left: 1px solid #eaeaea
}

.right-contact-form {
    padding-left: 131px;
    position: relative;
    z-index: 999
}

.right-contact-form fieldset {
    max-width: 100% !important
}

.right-contact-form fieldset.form-columns-2 {
    max-width: 100% !important;
    width: 100%
}

.right-contact-form fieldset.form-columns-2 .hs-form-field:first-child {
    padding-right: 16px
}

.right-contact-form fieldset.form-columns-2 .hs-form-field:last-child {
    padding-left: 16px
}

.right-contact-form fieldset .hs-form-field {
    overflow: hidden;
    margin-bottom: 23px
}

.right-contact-form .input {
    float: left;
    width: 100%;
    margin-right: 0 !important
}

.right-contact-form .hs_cos_wrapper_type_form .hs-form-field>label {
    display: none
}

.right-contact-form .hs-input {
    width: 100% !important;
    background: none;
    border-bottom: 1px solid #ced0d3;
    font-family: Montserrat, Arial, Tahoma, sans-serif;
    font-size: 16px;
    color: #333 !important;
    border-radius: 0;
    padding: 10px
}

.right-contact-form .hs-input::-webkit-input-placeholder {
    color: #736d6d
}

.right-contact-form .hs-input:-ms-input-placeholder {
    color: #736d6d
}

.right-contact-form .hs-input::placeholder {
    color: #736d6d
}

.right-contact-form .hs-input:focus {
    color: #fff;
    border-bottom: 1px solid #f0b95e
}

.right-contact-form label.hs-error-msg,
.right-contact-form label.hs-main-font-element {
    color: red;
    font-size: 12px;
    font-weight: 300;
    letter-spacing: 1px
}

.right-contact-form .submitted-message {
    color: #f0b95e;
    text-align: center
}

.right-contact-form .hs_submit {
    width: 100%
}

.right-contact-form .primary.large {
    display: inline-block;
    background: #fff;
    border: 1px solid #f0b95e;
    width: 100%;
    font-family: Montserrat, Arial, Tahoma, sans-serif;
    color: #f0b95e;
    font-size: 18px;
    text-transform: uppercase;
    cursor: pointer;
    transition: all .3s ease-in-out;
    -webkit-appearance: none;
    border-radius: 0;
    padding: 19.5px 10px;
    margin-top: 18px
}

.right-contact-form .primary.large:focus,
.right-contact-form .primary.large:hover {
    background: #f0b95e;
    color: #fff
}

.hs-form-booleancheckbox .hs-input {
    width: auto !important
}

.form-left-text i.fa {
    background: #000;
    width: 26px;
    height: 25px;
    border-radius: 4px;
    line-height: 26px;
    text-align: center;
    color: #fff;
    font-size: 16px
}

.form-left-text i.fa:focus,
.form-left-text i.fa:hover {
    background: #f0b95e
}

.form-left-text ul li {
    float: left;
    margin-right: 15px
}

.right-contact-form form .hs-form-booleancheckbox {
    display: inline-block;
    position: relative;
    padding-top: 4px;
    padding-left: 40px
}

.right-contact-form form .hs-form-booleancheckbox input {
    position: absolute !important;
    left: 0;
    top: 0;
    opacity: 0;
    width: 15px;
    height: 15px
}

.right-contact-form form .hs-form-booleancheckbox input+span:before {
    position: absolute;
    left: 0;
    top: 6px;
    content: "";
    border: 2px solid #d9d9d9;
    width: 25px;
    height: 25px;
    cursor: pointer;
    color: #e6e6e6;
    background: #fff
}

.right-contact-form select.hs-input {
    -webkit-appearance: none;
    appearance: none;
    overflow: hidden;
    background: #fff url(https://cdn2.hubspot.net/hubfs/2549454/AI%20Recruitment%20Automation/arrow-1.png) no-repeat 100% 100%;
    color: #5f6044 !important;
    background-position: 99% 55%;
    border-radius: 0
}

.right-contact-form form input[type=checkbox]:checked+span:before {
    background: #f0b95e;
    border-color: #f0b95e
}

.right-contact-form form input[type=checkbox]:checked+span:after {
    text-align: center;
    color: #fff;
    cursor: pointer;
    position: absolute;
    left: 3px;
    font-size: 20px;
    top: 0;
    content: "\f00c";
    font-family: FontAwesome;
    width: 25px;
    height: 25px;
    line-height: 40px
}

input[type=checkbox]:checked+label,
input[type=checkbox]:checked+span {
    color: red
}

@media(max-width:480px) {
    .form-left-text h2 {
        font-size: 36px !important
    }

    .right-contact-form fieldset.form-columns-2 .hs-form-field:first-child {
        padding-right: 0
    }

    .right-contact-form fieldset.form-columns-2 .hs-form-field:last-child {
        padding-left: 0
    }
}

@media(max-width:767px) {
    .form-left-text {
        margin-bottom: 75px !important
    }

    .contact-form-area .row-fluid {
        display: -ms-flexbox;
        display: block;
        -ms-flex-align: start;
        align-items: start
    }

    .contact-form-area .span8 {
        margin-left: 0 !important;
        border-left: none
    }

    .right-contact-form {
        padding-left: 0 !important
    }
}

@media(max-width:992px) {
    .right-contact-form {
        padding-left: 54px
    }

    .ContactPage {
        overflow-x: hidden;
        width: 100vw;
    }
}